{% extends 'dashboard/base.html' %}
{% block content %}
{% load static %}
<script>
    document.title = "Blog";
</script>
<div class="container text-center dark">
    <h1 class="fw-bold">Daniel's Development Blog</h1>
</div>
<br><br>

<div class="container text-white">
    {% for b in blogs %}
        <div class="bg-dark p-3">
            <h3 class="neonGreen">{{ b.title }}</h3>
            <img class="text-center m-2" src="{{ b.image.url }}">       
            <p>{{ b.content | safe}}</p>
        </div>
        <br><br>
    {% endfor %}
</div>


{% endblock %}