{% extends 'dashboard/base.html' %}
{% block content %}
{% load static %}
<div class="container text-center">
    <h1 class="fw-bold">Daniel Karr</h1>
    <a href="{% static 'dashboard/DKResume.pdf' %}" target="_blank"><button id="resume_button" class="btn btn-primary fw-bold">Résumé</button></a>
    {% comment %} <a href="{% static 'dashboard/coverLetter.pdf' %}" target="_blank"><button id="cover_letter_button" class="btn btn-primary fw-bold">Cover Letter</button></a> {% endcomment %}
</div>
<br><br>

<div class="container text-start bg-dark text-white py-3 mb-3">
    <div class="row">
        <div class="col col-7">
            <div class="row">
                <div class="col col-4">
                    <h3 class="neonGreen">Education</h3>
                    <h5 class=""><strong>BS Applied Computing Technology:</strong><br>Concentration in Computing Technology<br>Colorado State University, 2017</h5><br>
                    <h5><strong>CCNA Routing and Switching</strong><br>August, 2019</h5><br>
                    <h3 class="neonGreen">Projects</h3>
                    <a class="link-info" href="https://play.google.com/store/apps/developer?id=DK+Mobile" target="_blank"><h5>View my published Android apps.</h5></a>   
                </div>
                <div class="col col-8">
                    <img class="img-fluid" src="{{ 'media/dashboard/images/profilepic2.jpg' }}"> 
                </div>
            </div>
            <div class="row">
                <br><h3 class="neonGreen">Skills</h3>
                <div class="col">
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-light text-dark"><strong>Programming</strong></li>
                        <li class="list-group-item ist-group-item-light text-dark">OOP</li>
                        <li class="list-group-item ist-group-item-light text-dark">Java</li>
                        <li class="list-group-item ist-group-item-light text-dark">Kotlin</li>
                        <li class="list-group-item ist-group-item-light text-dark">Python</li>
                        <li class="list-group-item ist-group-item-light text-dark">Django</li>
                        <li class="list-group-item ist-group-item-light text-dark">Javascript</li>
                        <li class="list-group-item ist-group-item-light text-dark">HTML</li>
                        <li class="list-group-item ist-group-item-light text-dark">Bootstrap</li>
                        <li class="list-group-item ist-group-item-light text-dark">SQL</li>
                        {% comment %} <li class="list-group-item ist-group-item-light text-dark"></li> {% endcomment %}
                    </ul>
                </div>
                <div class="col">
                    <ul class="list-group">
                        <li class="list-group-item ist-group-item-light text-dark"><strong>Soft Skills</strong></li>
                        <li class="list-group-item ist-group-item-light text-dark">Problem Solving</li>
                        <li class="list-group-item ist-group-item-light text-dark">Learning</li>
                        <li class="list-group-item ist-group-item-light text-dark">Troubleshooting</li>
                        <li class="list-group-item ist-group-item-light text-dark">Communication</li>
                        <li class="list-group-item ist-group-item-light text-dark">Patience</li>
                        <li class="list-group-item ist-group-item-light text-dark">Time Management</li>
                        <li class="list-group-item ist-group-item-light text-dark">Attention to Detail</li>
                        <li class="list-group-item ist-group-item-light text-dark">Writing</li>
                        {% comment %} <li class="list-group-item ist-group-item-light text-dark"></li>
                        <li class="list-group-item ist-group-item-light text-dark"></li>
                        <li class="list-group-item ist-group-item-light text-dark"></li> {% endcomment %}
                    </ul>
                </div>
                <div class="col">
                    <ul class="list-group">
                        <li class="list-group-item ist-group-item-light text-dark"><strong>IT</strong></li>
                        <li class="list-group-item ist-group-item-light text-dark">Networking</li>
                        <li class="list-group-item ist-group-item-light text-dark">Active Directory</li>
                        <li class="list-group-item ist-group-item-light text-dark">Windows</li>
                        <li class="list-group-item ist-group-item-light text-dark">Linux</li>
                        <li class="list-group-item ist-group-item-light text-dark">Powershell</li>
                        <li class="list-group-item ist-group-item-light text-dark">Office 365</li>
                        <li class="list-group-item ist-group-item-light text-dark">Ticketing Systems</li>
                        <li class="list-group-item ist-group-item-light text-dark">Hardware</li>
                        {% comment %} <li class="list-group-item ist-group-item-light text-dark"></li>
                        <li class="list-group-item ist-group-item-light text-dark"></li> {% endcomment %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col col-5 my-1 py-0">
            <h3 class="neonGreen">Programmer Humor</h3>
            <img src="{{ 'media/dashboard/images/humor3.jpg' }}" class="img-fluid my-2" alt="...">
            <img src="{{ 'media/dashboard/images/humor4.jpg' }}" class="img-fluid my-2" alt="...">
            <img src="{{ 'media/dashboard/images/humor1.jpg' }}" class="img-fluid my-2" alt="...">
            <img src="{{ 'media/dashboard/images/humor2.png' }}" class="img-fluid my-2" alt="...">
                {% comment %} <li class="">A second item</li>
                <li class="">A third item</li>
                <li class="">A fourth item</li>
                <li class="">And a fifth one</li> {% endcomment %}
            
            {% comment %} <ul class="list-group text-dark">
                <li class="list-group-item">An item</li>
                <li class="list-group-item">A second item</li>
                <li class="list-group-item">A third item</li>
                <li class="list-group-item">A fourth item</li>
                <li class="list-group-item">And a fifth one</li>
            </ul> {% endcomment %}
        </div>
    </div>  
</div>


{% comment %} <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur posuere ullamcorper sem eu scelerisque. Nam gravida nisl urna, 
            vel malesuada massa posuere vel. Sed suscipit, lacus ac consectetur fermentum, enim mauris pharetra lorem, quis pulvinar augue ex vel
             sapien. Vivamus non ligula bibendum, ultricies lorem eget, rutrum felis. Suspendisse rhoncus porta ante, quis consequat nulla 
             tincidunt vitae. Donec ornare enim eu elit accumsan, eget vehicula ex condimentum. Maecenas non lobortis libero, ut tempor orci. 
             Sed placerat lacinia tristique. Phasellus sit amet sodales tortor, in pretium lacus. Maecenas imperdiet lorem mauris. Sed quam 
             mauris, rutrum in nisi dapibus, condimentum fermentum ligula. Nam rhoncus posuere efficitur. Proin ut leo magna. Sed eleifend sem 
             non ex scelerisque posuere. Nunc id velit et ante placerat pharetra feugiat at nunc. Sed eu nunc ac dui bibendum egestas. 
             Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin in felis maximus, consectetur metus nec, eleifend purus. 
             Phasellus accumsan nulla eu condimentum pellentesque. Ut vel diam sodales, ornare libero nec, volutpat lorem. Ut venenatis, ex 
             ac imperdiet rhoncus, velit mauris semper lorem, ac fermentum ligula velit quis augue. Curabitur enim velit, lacinia accumsan 
             sollicitudin nec, tincidunt et magna. Etiam placerat ullamcorper metus vel vestibulum. Nulla fermentum mattis sem, eu laoreet 
             risus porta vel. Nullam a aliquam lectus. Sed ut tristique libero. Vivamus blandit lacus lectus, eget tincidunt augue dignissim 
             non. Vestibulum eget eleifend diam. Suspendisse ut nisi elit. Quisque mattis, augue sit amet volutpat mollis, ligula nisi consequat 
             agna, eget vulputate dui orci sed arcu. Nunc nibh nisi, imperdiet facilisis magna id, maximus semper leo. Donec a egestas arcu. 
             Cras ac lectus ullamcorper, dapibus risus eu, lobortis metus. Phasellus vitae dui fringilla, viverra justo ac, vestibulum lacus. 
             Praesent leo nunc, lacinia vel elit non, molestie faucibus est. Quisque vitae efficitur tortor, ut sagittis mi. In non velit ac
              dolor rhoncus placerat sed sit amet enim. </p>    {% endcomment %}
{% endblock %}