:root {
    --cellSize: 17px;
    --neonGreen: #31e981;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* nav .navbar-nav li a{
    color: white !important;
    } */

.square {
    padding: 0;
    width: var(--cellSize) !important;
    height: var(--cellSize) !important;
    background-color: #5c3c92;
    margin: 1px;
    max-width: var(--cellSize);
    max-height: var(--cellSize);
    min-width: var(--cellSize);
    min-height: var(--cellSize);
    overflow: hidden;
}

.living-cell {
    background-color: #23b5d3;
}

.square:hover {
    background-color: #ff9b42;
}

.row {
    margin: 2px;
    padding-left: 2px;
}

.gol { 
    display: inline-block;
}

#gol-container {
    display: inline-block;
}

#gol {
    flex-wrap: nowrap;
    width: 100%;
    display: inline-block;
}

.neonGreen {
    color: var(--neonGreen) !important;
}

/* .accordion-header.text-info {
    color: white !important;
    background-color: white !important;
} */

/* .accordion-button .collapse {
    background-color: white !important;
} */
/* 
#collapseOne .collapsed {
    background-color: white !important;
    color: white !important;
} */